<launch>

 <param name="/use_sim_time" value="true" />
 <node pkg="rviz" type="rviz" name="rviz" />

<arg name="map_file" default="$(find turtlebot_slam)/world/swarmlab_map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> 



 <node pkg="stage" type="stageros" name="stageros" args="$(find turtlebot_graph_slam)/world/swarmlab_single_turtle.world" respawn="false" 	output="screen" />

 <node name="turtlebot_graph_slam" pkg="turtlebot_graph_slam" type="turtlebot_graph_slam" output="screen" /> 

<arg name ="x" default = "0"/>
<arg name ="y" default = "0"/>
<arg name ="z" default = "0"/>
<arg name ="roll" default = "0"/>
<arg name ="pitch" default = "0"/>
<arg name ="yaw" default = "0"/>

 <master auto="start"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot_graph_slam)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_graph_slam)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot_graph_slam)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_graph_slam)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_graph_slam)/config/base_local_planner_params.yaml" command="load" />
  </node>

<node name="turtlebot_slam" pkg="turtlebot_slam" type="turtlebot_slam" output="screen"/> 
</launch>
