<launch>
<node pkg="rviz" type="rviz" name="rviz" />
 <param name="/use_sim_time" value="true" />
<arg name="map_file" default="$(find turtlebot_slam)/world/swarmlab_map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> 
 <node pkg="stage" type="stageros" name="stageros" args="$(find turtlebot_graph_slam)/world/swarmlab_single_turtle.world" respawn="false" 	output="screen" />
 	<node name="turtlebot_graph_slam" pkg="turtlebot_graph_slam" type="turtlebot_graph_slam" output="screen" /> 
</launch>
